<h1>Sign Up</h1>
<form class="d-flex me-2" [formGroup]="registerForm" autocomplete="off">
    <input class="form-control me-2" formControlName="username" type="text" placeholder="Username" />
    <input class="form-control me-2" formControlName="password" type="password" placeholder="Password"
        style="margin-bottom: 1em;" />
    <!-- <input class="form-control me-2" formControlName="name" type="text" placeholder="Name" />
    <input class="form-control me-2" formControlName="surname" type="text" placeholder="Surname" />
    <input class="form-control me-2" formControlName="age" type="number" placeholder="Age" />
    <select class="form-control form-select me-2" formControlName="gender" type="number" placeholder="Gender">
        <option [value]="null" disabled selected>Gender</option>
        <option [value]="0">Male</option>
        <option [value]="1">Female</option>
    </select>
    <input class="form-control me-2" formControlName="email" type="text" placeholder="Email" /> -->
    <div class="button-container">
        <button class=" btn btn-primary btn-lg" (click)="registerUser()"
            [disabled]="registerForm.invalid">Register</button>
        <button class="btn btn-secondary btn-lg" (click)="cancelRegistration()">Cancel</button>
    </div>
</form>